{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">À propos de l'Analyse des Transactions BIAT</h1>
<p>Cette application a été développée pour analyser les transactions bancaires de la BIAT Banque Internationale Arabe de Tunisie. Elle permet de visualiser les données de transaction, d'identifier des tendances et de fournir des insights utiles pour la prise de décision.</p>
<h2 class="mt-4">Fonctionnalités</h2>       
<ul>
    <li>Visualisation des transactions par type, heure, et autres dimensions.</li>
    <li>Calcul des statistiques clés telles que le montant total, le montant moyen, et le nombre total de transactions.</li>
    <li>Interface utilisateur intuitive avec des graphiques interactifs.</li>
    <li>Possibilité d'exporter les données analysées.</li>
</ul>
<h2 class="mt-4">Technologies Utilisées</h2>
<ul>
    <li>Flask pour le backend web.</li>
    <li>Pandas pour la manipulation des données.</li>
    <li>Matplotlib et Seaborn pour la visualisation des données.</li>
    <li>Bootstrap pour le design de l'interface utilisateur.</li>
    <li>Chart.js pour les graphiques interactifs.</li>
</ul>
<h2 class="mt-4">Développeur</h2>  
<p>Cette application a été développée par Arfaoui dhia edinne un eleve ingenieur en 3eme année spécialisé dans le data science. Pour toute question ou suggestion, n'hésitez pas à me contacter à 
</br>
    <a href "tel +216 29167529 " > 29167529 </a> 
</br>
<a href="mailto:dhiaarfaoui32@gmail.com "> dhiaarfaoui32@gmail.com </a>   </p>   


<a href="/dashboard" class="btn btn-primary">Voir le tableau de bord</a>
<a href="/" class="btn btn-secondary">Retour à l'accueil</a>
    {% endblock %}
